<div class="container">
	<div class="header">
		<div class="logo">
			<h1>
				<i class="fas fa-code fa-sm"></i> T3MPL <sup>{{appVersion}}</sup>
			</h1>
		</div>
		<div class="control">
			<app-sidebar-menu></app-sidebar-menu>
		</div>
	</div>

	<div class="zones">
		<div class="label">
			<i class="fas fa-cube fa-sm mr"></i> {{templateName}}
		</div>
		<div class="value">
			<select (change)="onItemChanged($event.target.value)">
				<option
					*ngFor="let item of items; let i = index"
					[value]="i"
					[selected]="item === currentItem"
					[disabled]="item.type === 'separator'">
					{{item.label}}
				</option>
			</select>
		</div>
	</div>

	<div class="sections">

		<ng-container *ngIf="currentItem?.type === 'zone'">
			<app-sections
				*ngFor="let sections of currentItem.zoneSections"
				[sections]="sections"
				[dataPath]="currentItem.zonePath">
			</app-sections>
		</ng-container>

		<app-configuration *ngIf="currentItem?.type === 'configuration'">
		</app-configuration>

	</div>
</div>
