<div class="popup">
	<div class="window">
		<div class="header">
			<h3>{{ 'imagePickerPopup.pickImage' | translate }}</h3>
			<button class="close" (click)="cancel()">
				<i class="fas fa-times fa-lg"></i>
			</button>
		</div>
		<div class="body">
			<div class="image-picker">
				<div class="preview" [hidden]="!filePath">
					<canvas #canvas></canvas>
				</div>
				<input type="file" (change)="onChanged($event)" />
			</div>
		</div>
		<div class="footer">
			<button (click)="save()">
				<i class="fas fa-check fa-sm fa-fw mr"></i> {{ 'imagePickerPopup.ok' | translate }}
			</button>
			<button (click)="cancel()">
				<i class="fas fa-times fa-sm fa-fw mr"></i> {{ 'imagePickerPopup.cancel' | translate }}
			</button>
		</div>
	</div>
</div>
